<mat-card class="blocAction">
    <div class="blocActionHeader">
        <mat-card-title class="blocActionTitre">
            <h5>Actions</h5>
        </mat-card-title>
    </div>
    <mat-card-content class="contentAction">
        <div fxLayout fxLayout.xs="column">
            <button fxFlex mat-raised-button class="btnActions" (click)="deployer()">Deployer</button>
            <button fxFlex mat-raised-button class="btnActions" [disabled]="instance.etat=='V'"
                (click)="restart()">Redémarrer</button>
        </div>
        <div fxLayout fxLayout.xs="column">
            <button fxFlex mat-raised-button class="btnActions" [disabled]="instance.etat!='L'"
                (click)="stop()">Arrêter</button>
            <button fxFlex mat-raised-button class="btnActions" [disabled]="instance.etat=='V'"
                (click)="delete()">Supprimer</button>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="blocAction">
    <div class="blocActionHeader">
        <mat-card-title class="blocActionTitre">
            <h5>Outils</h5>
        </mat-card-title>
    </div>
    <mat-card-content class="contentAction">
        <div fxLayout fxLayout.xs="column">
            <button fxFlex mat-raised-button class="btnActions">Joindre l'application</button>
            <button fxFlex mat-raised-button class="btnActions">Voir les logs</button>
        </div>
        <div fxLayout fxLayout.xs="column">
            <button fxFlex mat-raised-button class="btnActions">Jenkins</button>
            <button fxFlex mat-raised-button disabled class="btnActions">Plugin dispo</button>
        </div>
    </mat-card-content>
</mat-card>