<mat-card class="blocParametre">
  <div class="blocParametreHeader">
    <mat-card-title class="blocParametreTitre">
      <a (click)="ajouterSerie()"><i matTooltip="ajouter une serie de parametres"
          class="material-icons iconAdd">add</i></a>
      <h5>Paramètres Applicatifs {{selection[0]}}</h5>
    </mat-card-title>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="Version">
        <th mat-header-cell *matHeaderCellDef class="headerTab"> Version </th>
        <td mat-cell *matCellDef="let element"> {{element.version}} </td>
      </ng-container>

      <ng-container matColumnDef="Consulter">
        <th mat-header-cell *matHeaderCellDef class="headerTab"> Consulter </th>
        <td mat-cell *matCellDef="let element"> 
          <i (click)="afficherParametre()" class="material-icons"> menu_book</i>
        </td>
      </ng-container>

      <ng-container matColumnDef="Options">
        <th mat-header-cell *matHeaderCellDef class="headerTab"> Options </th>
        <td mat-cell *matCellDef="let element"> 
          <i class="material-icons optIcon" (click)="listerParametre(element.version,true)"> create </i>
          <i class="material-icons optIcon" (click)="supprimerParametre(element.version,true)"> delete </i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectionLigne(row)"
        [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true"
        (mouseout)="row.hovered = false">
      </tr>
    </table>
    <div *ngIf="!dataSource.data.length" class="parametreNull">
      Aucun paramètre pour cet environnement
    </div>
    <mat-paginator [hidePageSize]="true" [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>