<div class="container" *ngIf="formulaire">



    <form [formGroup]="formulaire" class="example-form">
        <div class="example-full-width">
            <img src="{{urlPhoto}}" class="imgprofil" alt="Avatar">
        </div>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input formControlName="nom" matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <input formControlName="prenom" matInput>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <div>
            <button [disabled]="!formulaire.valid" *ngIf="!consult" mat-raised-button color="primary"
                type="submit">Modifier</button>
        </div>

    </form>
</div>