<div class="container" *ngIf="formulaire">



    <form [formGroup]="formulaire" (ng-submit)="modifierProfil(formulaire.value)">


        <div class="headerProfil">
            <div class="block">
                <img id="imageProfil" [src]="urlPhoto" />
                <div *ngIf="!consult" class="text-block" (click)="ouvrirFileSearch()">
                    <p>Changer mon image</p>
                </div>
            </div>
        </div>


        <table cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nom" class="form-control" formControlName="nom">
                    </mat-form-field>
                </td>

            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Prénom" class="form-control" formControlName="prenom">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email" class="form-control" formControlName="email">
                    </mat-form-field>
                </td>
                </tr>
        </table>
        <div>
            <button *ngIf="!modif" mat-raised-button (click)="activerModifProfil()">Modifier mon profil</button>
            <button *ngIf="modif" mat-raised-button (click)="annulerProfil()">Annuler</button>
            <button *ngIf="modif" type="submit" [disabled]="!formulaire.valid" mat-raised-button>Valider</button>
        </div>

    </form>
</div>
<input hidden type="file" id="fileProfil" (change)="changementImage($event.target.files)" accept="image/*">
