<mat-card>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <div fxLayout fxLayout.xs="column">
        <p>Filtrer par message :</p>
        <mat-form-field fxFlex fxFlexOffset="15px">
          <input matInput (keyup)="messageFiltrer($event.target.value)" placeholder="Message">
        </mat-form-field>
      </div>
      <div fxLayout fxLayout.xs="column">
        <p>Filtrer par date :</p>
        <mat-form-field fxFlex="15%" fxFlexOffset="15px">
          <input matInput [matDatepicker]="dateDeb" placeholder="Date Début">
          <mat-datepicker-toggle matSuffix [for]="dateDeb"></mat-datepicker-toggle>
          <mat-datepicker #dateDeb></mat-datepicker>
        </mat-form-field>
        <p>jusqu'à</p>
        <mat-form-field fxFlex="15%" fxFlexOffset="15px">
          <input matInput [matDatepicker]="dateFin" placeholder="Date Fin">
          <mat-datepicker-toggle matSuffix [for]="dateFin"></mat-datepicker-toggle>
          <mat-datepicker #dateFin></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="table-scroll-y">

        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="Version">
            <th mat-header-cell *matHeaderCellDef class="headerTab"> Date </th>
            <td mat-cell class="content_tab" *matCellDef="let element"> {{element.timestamp}} </td>
          </ng-container>

          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef class="headerTab"> Message </th>
            <td mat-cell class="content_tab" *matCellDef="let element"> {{element.message}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr style="height: 14px;" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="centerSpinner">
        <mat-spinner *ngIf="loader" [diameter]=40></mat-spinner>
      </div>
      <div *ngIf="!loader && (!dataSource.data.length  || !data.containerId)" class="logsNull">
        Aucun logs pour cette application
      </div>
      <mat-paginator [hidePageSize]="true" [pageSizeOptions]="[50]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>