<mat-card class="blocAction">
    <div class="blocActionHeader">
        <mat-card-title class="blocActionTitre">
            <h5>Administration</h5>
        </mat-card-title>
    </div>
    <mat-card-content class="contentAction">
        <div fxLayout fxLayout.xs="column">
            <button fxFlex mat-raised-button (click)="gestionMembres()" class="btnActions">Gestion membres</button>
            <button fxFlex mat-raised-button class="btnActions" disabled>Creer jonctions</button>
        </div>
        <div fxLayout fxLayout.xs="column">
            <button fxFlex mat-raised-button class="btnActions" disabled>espace dispo</button>
            <button fxFlex mat-raised-button class="btnActions" disabled>espace dispo</button>
        </div>
    </mat-card-content>
</mat-card>