<div>
    <div class="header">
        <h3>Datasource</h3>
    </div>
    <div class="container">
        <div fxLayout fxLayout.xs="column">
            <div fxFlex fxLayout="column">
                <mat-card class="blocInstance">
                    <div class="blocInstanceHeader">
                        <mat-card-title class="blocInstanceTitre">
                            <a (click)="alert('Il faut coder la modal')"><i class="material-icons iconAdd"
                                    matTooltip="Ajouter une instance">add</i></a>
                            <h5>DataSource</h5>
                        </mat-card-title>
                    </div>
                    <mat-card-content class="contentInstance">

                        <div class="env-InstanceNull">
                            Aucune datasource pour cette application
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex>

                <mat-card class="blocInstance">
                    <div class="blocInstanceHeader">
                        <mat-card-title class="blocInstanceTitre">
                            <a (click)="alert('Il faut coder la modal')"><i class="material-icons iconAdd"
                                    matTooltip="Ajouter une instance">add</i></a>
                            <h5>DataSource</h5>
                        </mat-card-title>
                    </div>
                    <mat-card-content class="contentInstance">

                        <div class="env-InstanceNull">
                            Aucune datasource pour cette application
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </div>
</div>