.text-center{
    text-align: center;
}
.header h3,h4{
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: .5rem;
    margin-top: 0;
}
.header{
    margin-top: 25px;
}
.blocApp{
    margin: 25px;
}