<div *ngIf="application">
    <div class="header">
        <h3 class="text-center">{{application.name}}</h3>
        <h4 class="text-center">[{{application.type}}]</h4>
    </div>
    <div class="container" fxLayout fxLayout.xs="column">
        <div fxFlex fxLayout="column">
            <application-instance [environnements]="application.environnements" (instanceSelect)="instanceSelectEvent($event)"></application-instance>
        </div>
        <div fxFlex>
            <application-action *ngIf="instanceSelect"></application-action>
            <application-parametre *ngIf="instanceSelect"></application-parametre>
        </div>
    </div>
</div>
