<h1 mat-dialog-title>Ajouter une instance</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Environnement</mat-label>
        <mat-select [(ngModel)]="envChoisi" name="serveurs" required>
            <mat-option *ngFor="let serveur of serveurs" [value]="serveur.id">{{serveur.nom}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Annuler</button>
    <mat-spinner *ngIf="loader" [diameter]=20></mat-spinner>
    <button *ngIf="!loader" mat-button (click)="ajouter()" [disabled]="!envChoisi" cdkFocusInitial>Ajouter</button>
</div>