<div class="mat-elevation-z8">




</div>
<div class="containerTable mat-elevation-z8">
    <div>
        <button mat-button (click)="refreshLog()">Actualiser</button>
    </div>
    <div>
        <mat-form-field>
            <input matInput (keyup)="messageFiltrer($event.target.value)" placeholder="filtre message">
        </mat-form-field>
    </div>
    <div>
        <p>Filtrer par date :</p>
        <mat-form-field>
            <input matInput [ngModel]="dateJourDeb" maxlength="19" (keyup)="dateFilter($event.target.value)">
            <p>jusqu'à</p>

            <input matInput [ngModel]="dateJourFin" maxlength="19" (keyup)="dateFilter($event.target.value)">

        </mat-form-field>

        <mat-paginator [hidePageSize]="true" [pageSizeOptions]="[50]" showFirstLastButtons></mat-paginator>
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="Version">
                <th mat-header-cell *matHeaderCellDef class="headerTab"> Timestamp </th>
                <td mat-cell class="content_tab" *matCellDef="let element"> {{element.timestamp}} </td>
            </ng-container>

            <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef class="headerTab"> Message </th>
                <td mat-cell class="content_tab" *matCellDef="let element"> {{element.message}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr style="height: 14px;" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="centerSpinner">
            <mat-spinner *ngIf="loader" [diameter]=40></mat-spinner>
        </div>
        <div *ngIf="!loader && (!dataSource.data.length  || !idContainerTest)" class="logsNull">
            Aucun logs pour cette application
        </div>
    </div>
    <mat-paginator [hidePageSize]="true" [pageSizeOptions]="[50]" showFirstLastButtons></mat-paginator>
</div>