table {
    width: 90%;
    margin: auto;
    text-align: center;
}
.headerTab{
  text-align: center;
}
.header{
  text-align: center;
}
.footer{
  text-align: center;
  margin-top: 50px;
}
.iconLvlAcces{
  cursor: default;
}