<div class="row">

    <div class="col-sm-12" style="text-align: center;">
        <h1>Ajouter une nouvelle application</h1>
    </div>

    <form [formGroup]="formulaire" (ngSubmit)="onSubmit(formulaire.value)">

        <div class="col-sm-12">
            <mat-form-field class="example-full-width">
                <input required formControlName="name" matInput placeholder="Nom application">
            </mat-form-field>



        </div>

        <div class="col-sm-12">
            <mat-form-field class="example-full-width">
                <mat-label>Type application</mat-label>
                <mat-select required formControlName="typeApp" [(value)]="formulaire.value.typeApp">
                    <mat-option *ngFor="let type of typeApplication" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-12" *ngIf="formulaire.value.typeApp">
            <div class="col-sm-12">
                <h3>Type : {{formulaire.value.typeApp}}</h3>
            </div>
            <div class="col-sm-12" formGroupName="nodeJsApplication" *ngIf="formulaire.value.typeApp=='NODEJS'">
                <mat-form-field class="example-full-width">
                    <input required matInput formControlName="versionNode" placeholder="Version node JS">
                </mat-form-field>
            </div>
            <div class="col-sm-12" formGroupName="warApplication" *ngIf="formulaire.value.typeApp=='WAR'">
                <mat-form-field class="example-full-width">
                    <input required formControlName="basename" matInput placeholder="base name">
                </mat-form-field>
            </div>
            <div class="col-sm-12" formGroupName="bashApplication" *ngIf="formulaire.value.typeApp=='BASH'">
                <mat-form-field class="example-full-width">
                    <input required matInput formControlName="urlBatch" placeholder="URL Batch">
                </mat-form-field>
            </div>
        </div>

        <mat-form-field class="example-80-width">
            <mat-label>DockerFile Template</mat-label>
            <mat-select #dockerfile required formControlName="dockerfiles">
                <mat-option *ngFor="let dk of dockerFiles" [value]="dk">
                    {{dk.name}}
                </mat-option>
            </mat-select>

        </mat-form-field>

        <div class="example-20-width" *ngIf="dockerfile.value">
            <mat-checkbox formControlName="isUpdateCheck" class="example-margin">Modifier le template</mat-checkbox>
        </div>


        <mat-form-field class="example-full-width" *ngIf="dockerfile.value">
            <textarea [disabled]="!formulaire.value.isUpdateCheck" style="width: 100%;"
                formControlName="dockerfilesText" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="5" [value]="dockerfile.value.file" matInput></textarea>
        </mat-form-field>


        <div class="col-sm-12">
            <button [disabled]="!formulaire.valid" mat-raised-button class="button" color="primary"
                type="submit">Ajouter</button>
        </div>


    </form>


</div>