/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.customSnackBar{
    background-color: #3ac569;
    color: white;
  }

.errorSnackBar{
  background-color: #e64c41;
  color: white;
}

.customSnackBar span{
    margin:auto;
    text-align: center;
  }
.errorSnackBar span{
  margin:auto;
  text-align: center;
}