table{
    width: 100%;
}
table th{
    text-align: center;
}
h1{
    text-align: center;
    margin-bottom: 60px;
}
.iconDelete{
    cursor: pointer;
}
.iconDelete:hover{
    transform: scale(1.1);
}
.dialogContent{
    text-align: center;
}
.footerBtn{
    margin-top: 20px;
}
.btnAddParam{
    text-align: center;
    margin-bottom: 20px;
}