<div class="container" *ngIf="formulaire">
    <div class="title">
        <h1>Configurer l'application</h1>
    </div>
    <form *ngIf="application" [formGroup]="formulaire" (ngSubmit)="onSubmit(formulaire.value)">
        <div class="colonne">
            <mat-form-field class="midSize">
                <input required formControlName="name" matInput placeholder="Nom application">
            </mat-form-field>
        </div>
        <div flexLayout class="colonne">
            <div class="midSize">
                <mat-form-field fxFlex="50%">
                    <mat-label>Type application</mat-label>
                    <mat-select required formControlName="typeApp" [(value)]="formulaire.value.typeApp">
                        <mat-option *ngFor="let type of typeApplication" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="inputTypeApp">
                    <input required formControlName="basename" matInput placeholder="Base name">
                </mat-form-field>

                <div fxFlex="50%" *ngIf="formulaire.value.typeApp">
                    <div formGroupName="nodeJsApplication" *ngIf="formulaire.value.typeApp=='NODEJS'">

                    </div>
                    <div formGroupName="warApplication" *ngIf="formulaire.value.typeApp=='WAR'">
                        <mat-form-field class="inputTypeApp">
                            <input required formControlName="nomFichierProperties" matInput placeholder="Base name">
                        </mat-form-field>
                    </div>
                    <div formGroupName="bashApplication" *ngIf="formulaire.value.typeApp=='BASH'">
                        <mat-form-field class="inputTypeApp">
                            <input required matInput formControlName="urlBatch" placeholder="URL Batch">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="colonne">
            <mat-form-field class="fullSize">
                <textarea style="width: 100%;" formControlName="dockerfilesText" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" [(value)]="formulaire.value.dockerfilesText"
                    matInput></textarea>
            </mat-form-field>
        </div>
        <div>
            <button [disabled]="!formulaire.valid" mat-raised-button color="primary" type="submit">Modifier</button>
        </div>
    </form>
</div>