<mat-sidenav-container class="container" [hasBackdrop]="true">
    <mat-sidenav #menuApp [mode]="mode.value">
        <div class="sidebar-header">
            <img src="assets/amp_logo.png">
            <div>
                <p *ngIf="appInfo" class="versionText">{{appInfo.version}}</p>
                <p class="separator"></p>
            </div>
        </div>
        <mat-accordion hideToggle>
            <mat-expansion-panel>
                <mat-expansion-panel-header class="headerPanel">
                    <mat-panel-title class="titlePanel">
                        Applications
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngFor="let app of applications" (click)="loadApp(app.id)" class="nameApp">
                    <i class="material-icons">apps</i><span class="appSpanName">{{app.name}}</span>
                </div>
                <div [routerLink]="['/secure/application/creation']" class="nameApp" (click)="menuApp.close()"> <i
                        class="material-icons">
                        add
                    </i><span class="appSpanName">Ajouter app</span></div>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header class="headerPanel">
                    <mat-panel-title class="titlePanel">
                        LOG
                    </mat-panel-title>
                </mat-expansion-panel-header>


                <div [routerLink]="['/secure/consulterlog/dashboard']" class="nameApp" (click)="menuApp.close()"> <span
                        class="appSpanName">Dashboard</span></div>
                <div [routerLink]="['/secure/consulterlog/recherche']" class="nameApp" (click)="menuApp.close()"> <span
                        class="appSpanName">Recherche</span></div>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header class="headerPanel">
                    <mat-panel-title class="titlePanel">
                        Admin
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="nameApp" (click)="loadAdmin()">
                    <p>
                        <i class="material-icons">verified_user</i>
                        Droits membres
                    </p>
                </div>
                <div class="nameApp" (click)="loadDocker()">
                    <p>
                        <i class="material-icons">
                            dynamic_feed
                        </i>
                        Docker
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar *ngIf="user" class="headerBandeau">
            <div class="btnMenu">
                <button mat-button (click)="openMenu()">Afficher menu</button>
            </div>
            <div class="containerLeft" *ngIf="user">
                <button mat-button [matMenuTriggerFor]="menuUser">
                    {{user.nom}} {{user.prenom}} <img id="imageProfil" class="iconProfilMenu" [src]="urlPhoto" />
                </button>
                <mat-menu #menuUser="matMenu">
                    <button [routerLink]="['/secure/utilisateur']" (click)="menuApp.close()" mat-menu-item>Mon
                        profil</button>
                    <button mat-menu-item (click)="deconnexion()">Se déconnecter</button>
                </mat-menu>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>